/* Optional CSS styling for the lab layout container */
.lab-layout-container {
    position: relative;
    display: inline-block;
}

/* Style the mapped areas with a red border on hover */
area:hover {
    outline: 2px solid red;
}

path:hover {
    stroke: aqua;
}

.cls-1 {
    fill: #ff6e6e;
    fill-rule: evenodd;

}

.cls-2 {
    fill: #0c0058;
}

.map-marker {
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: .3s;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: .3s;
    transform-box: fill-box;
}

.map-marker.active>path {
    fill: #6200ff;
}

.map-marker.active {
    -webkit-transform: scale(1.2);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: .3s;
    transform: scale(1.2);
    transform-origin: 50% 50%;
    transition: .3s;
    transform-origin: bottom center;
}

/* The sidebar menu */
.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}